

.navegador{
    
    max-width: 1500px;
    background-color: white;
    width: 750px;
    margin:auto;
    padding: 50px;
    label, input {
        display: none;
        &:checked + ul {
            max-height: 200px;
        }
    }

    label{
        @media (max-width: 500px){
            display:block;
            color: black;
            font-weight: bold;
            font-size: 25px;
        }
    }
    > ul{
        list-style-type: none;
        display: flex;
        @media (max-width:500px){
            flex-direction: column;
            align-items: center;
            max-height: 0;
        }
        > li{
            > a{
                font-size: 22px;
                color:black;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                display: block;
                &:hover{
                    font-weight: bold;
                    background-color: pink;
                    padding: 10px;
                }
            }    
        }
    }
}


.desplegable{
    >ul{
        list-style-type: none;
        flex-direction: column;
        display: block;
        >li{
            float: left;
            display: none;
            position: absolute;
            
            >a{
                font-size: 22px;
                color: black;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                text-align: center;
                padding: 10px;
                text-decoration: none;
                display: block;
                overflow: hidden;
                &:hover{
                    font-weight: bold;
                    background-color: rgb(248, 225, 229);
                    padding: 10px;
                }
            }
        }
    }
}


.navbar{
    font-size: 22px !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    padding: 20px;
    color: black !important;

    .navbar-brand{
        font-size: 22px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0px;
        &:hover{
                background-color: lightpink;
                padding: 0px 0px 0px 0px !important;
        }
    }
    .navbar-collapse{
        font-size: 22px !important;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
        padding: 20px;
        
    }

}




.nav-item{
    font-size: 22px !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    padding: 0px; 
}

.nav-item:hover{
    background-color: lightpink;
    padding: 10px;
}

.navbarNavDropdown{
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: black;
    padding: 0px !important;
}

.navbar-brand .dropdown{
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: black;
    padding: 10px !important;
}

.nav-item .dropdown{
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: black;
    padding: 10px !important;
}
.nav-link{
    font-size: 22px !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: black;
    font-weight:normal;
}
.nav-link:hover{
    background-color: lightpink;
    padding: 10px !important;
    font-weight: bolder;
    color: black;
}

.nav-link .dropdown{
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: black;
    font-weight: bolder
}
